code2blog_wsdl/src/main/app/code2blog_wsdl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd">

	<flow name="code2blog_wsdlFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="/code2blog_wsdl" doc:name="HTTP" />
        <response>
            <logger message="{loggerUid=Logger-OUT, file=code2blog_wsdl.xml, description='response sent out from flow', inboundProperties=#[message.inboundProperties], outboundProperties=#[message.outboundProperties], payload=#[payload] } " level="INFO" doc:name="Logger-OUT" doc:description="Logs output message sent to consumer 

{loggerUid=Logger-OUT, file=code2blog_wsdl.xml, description='response sent out from flow',  inboundProperties=#[message.inboundProperties], outboundProperties=#[message.outboundProperties], payload=#[payload] } "/>
            <flow-ref name="code2blog_wsdlSub_Flow" doc:name="code2blog_wsdlSub_Flow"/>
        </response>

		<logger
			message="{loggerUid=Logger-IN, file=code2blog_wsdl.xml, description='request received into flow', inboundProperties=#[message.inboundProperties], payload=#[payload] }"
			level="INFO" doc:name="Logger-IN"
			doc:description="Logs input message  

{loggerUid=Logger-IN, file=code2blog_wsdl.xml, description='request received into flow', inboundProperties=#[message.inboundProperties], payload=#[payload] }
" />

	</flow>
    <sub-flow name="code2blog_wsdlSub_Flow">
        <cxf:jaxws-service configuration-ref="CXF_Configuration" serviceClass="code2blog_wsdl.gen.HelloWorld" doc:name="CXF"/>
        <component class="code2blog_wsdl.HelloWorldImpl" doc:name="Java"/>
    </sub-flow>

</mule>
