code2blog_mule4_download_cloudhub_logs/src/main/mule/flow_curl-for-logs.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="flow_curl-for-logs" doc:id="06500632-4a27-49d1-b113-7a2105f41cc4" >
		<http:listener doc:name="GET /curl-for-logs" doc:id="6f83e0a9-f147-4fce-85bd-1c29d691eef6" config-ref="HTTP_Listener_config" path="/curl-for-logs" allowedMethods="GET"/>
				<set-variable value="#[attributes.queryParams.orgId]" doc:name="orgId" doc:id="e98a4039-c756-480e-bada-be76775d2fd5" variableName="orgId"/>
		<set-variable value="#[attributes.queryParams.envId]" doc:name="envId" doc:id="caed0f92-bc40-4c3d-af41-9b092a5d1c39" variableName="envId"/>
		<set-variable value="#[attributes.queryParams.auth]" doc:name="auth" doc:id="a76de079-e852-4066-80bd-6495ea60273e" variableName="auth"/>
		<set-variable value="#[attributes.queryParams.domain]" doc:name="domain" doc:id="0c4283ad-baf2-4ccf-ab32-3e8dfec4d40e" variableName="domain"/>
		<http:request method="GET" doc:name="GET anypoint.mulesoft.com /deployments" doc:id="0f83e8cb-06bc-4d78-a0ad-f17d07dd05ad" config-ref="HTTPS_Request_configuration_cloudhub" url="#[p('cloudhub.deployments.url') replace '[domain]' with attributes.queryParams.domain]">
			<http:headers ><![CDATA[#[output application/java
---
{
	"X-ANYPNT-ENV-ID" : attributes.queryParams.envId,
	"Authorization" : "bearer " ++ attributes.queryParams.auth,
	"X-ANYPNT-ORG-ID" : attributes.queryParams.orgId
}]]]></http:headers>
		</http:request>
		<logger level="INFO" doc:name="LOG INFO payload" doc:id="0db0a83a-ed5e-4681-ac11-fe876dcf0e7e" message="#[payload]"/>
		
		<set-variable value="#[[]]" doc:name="curlOutput" doc:id="6d24cce6-649d-438e-85a3-231e87ae55f3" variableName="curlOutput"/>
		<ee:transform doc:name="set bash variables" doc:id="0f110e7f-a0cf-4dce-bdb8-c21a9deb476e" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="curlOutput" ><![CDATA[%dw 2.0
output application/java
---
(vars.curlOutput default [] ) << ('ORG_ID=[orgId]
ENV_ID=[envId]
AUTH=[auth]
BASE_FOLDER=C:/vishnu/temp
'
 replace '[orgId]' with (vars.orgId default '')
 replace '[envId]' with (vars.envId default '')
 replace '[auth]' with (vars.auth default '')
 )]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<foreach doc:name="For Each deploymentId" doc:id="bc6ec12e-6a7a-4c25-80cd-4f109d6c84cd" collection="payload.data">
			<ee:transform doc:name="Build Response logs" doc:id="676777b0-9a5d-409a-a7ca-a0ccdb463f75">
			<ee:message>
			</ee:message>
				<ee:variables >
					<ee:set-variable variableName="curlOutput" ><![CDATA[%dw 2.0
output application/json
var curlCommand = readUrl('classpath://script-logs.txt', 'text/plain')
var curlCommandReplaced = curlCommand 
	replace '[domain]' with (vars.domain default '')
 	replace '[deploymentId]' with payload.deploymentId
 	replace '[createTime]' with (payload.createTime replace ':' with '-')
---
(vars.curlOutput default []) << curlCommandReplaced]]></ee:set-variable>
				</ee:variables>
		</ee:transform>
		</foreach>
		<set-payload value='#[%dw 2.0
output text/plain
---
(vars.curlOutput default []) joinBy "\r\n"]' doc:name="Set Payload" doc:id="4d11a00d-caee-44d1-bd2a-6dfffa7548b2" />
	</flow>
</mule>
