code2blog_mule4_connectors/src/main/mule/b085-flow-validate_xml.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:xml-module="http://www.mulesoft.org/schema/mule/xml-module"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/xml-module http://www.mulesoft.org/schema/mule/xml-module/current/mule-xml-module.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="b085-flow-validate_xml" doc:id="11fc6234-aa1f-4f4f-8e22-9b45d5165591" >
		<http:listener doc:name="Listener" doc:id="7009a68c-b4dc-4e5c-8c58-c3a1fd89415a" config-ref="${b085-config.http.listener}" path="/code2blog_mule4_connectors_validate_xml"/>
		<xml-module:validate-schema doc:name="Validate xml schema" doc:id="c095d12a-7e8d-4b15-83bc-5f12aeb08706" schemas="note.xsd"/>
		<set-payload value="#['note received']" doc:name="Set Payload" doc:id="c769fe17-a0ee-4b45-8e3c-bc7cdceb715f" />
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="f3d4492d-4ba8-47ec-aff4-0d81c41ca9d2" >
				<logger level="INFO" doc:name="Logger" doc:id="139ac33f-b4f0-4bbc-98e0-7f40509ac665" message="xml validation error details : #[error.errorMessage.payload[0].description]" />
				<ee:transform doc:name="Transform Message" doc:id="8a4f6bcf-887e-4f9f-afd4-d0963a705fcc" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
error: error	
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-continue>
		</error-handler>
	</flow>
</mule>
