code2blog_mule4_connectors/src/main/mule/code2blog_mule4_connectors_database.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="code2blog_mule4_connectors_databaseFlow" doc:id="533d57e0-f8ad-45bc-a470-c357884af4f3" >
		<http:listener doc:name="Listener" doc:id="9f7cf8e3-9887-49aa-9958-7c4abbfff41b" config-ref="HTTP_Listener_config" path="/code2blog_mule4_connectors_database"/>
		<logger level="INFO" doc:name="Logger-IN" doc:id="a876585e-5731-4012-8346-c8222c7d5945" doc:description="Logs input message

{loggerUid=Logger-IN, file=code2blog_mule4_connectors_database.xml, description='request received into flow', attributes=#[message.attributes], payload=#[payload] }" message="{loggerUid=Logger-IN, file=code2blog_mule4_connectors_database.xml, description='request received into flow', attributes=#[message.attributes], payload=#[payload] }"/>
		<db:select doc:name="Select" doc:id="52b153ba-8539-47af-95bf-c42291c2de68" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from wmbowner.employee where empno=:empno ]]></db:sql>
			<db:input-parameters ><![CDATA[#[{'empno': message.attributes.queryParams.empno}]
]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="270b1528-3668-4d97-b63a-bc534387fa30" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	payload: payload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	
	</flow>
</mule>
