code2blog_mule4_connectors/src/main/mule/code2blog_mule4_connectors_validate_json.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
	<flow name="code2blog_mule4_connectors_validate_jsonFlow" doc:id="66162ae0-17cf-4078-b711-16b9bd4bfe5a" >
		<http:listener doc:name="Listener" doc:id="e9a8eb40-d0cd-4bb4-9d8c-580aaf6fe995" config-ref="HTTP_Listener_config" path="/code2blog_mule4_connectors_validate_json"/>
		<json:validate-schema doc:name="Validate schema" doc:id="13491795-f648-4aed-967f-f38a91bdc54d" schema="product-array-schema.json"/>
			<set-payload value="#['product array received']" doc:name="Set Payload" doc:id="e524f577-cb7c-4f0f-84a5-6b352f4b79f3" />
	</flow>
</mule>
