code2blog_sftp/src/main/app/code2blog_sftp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
    <sftp:connector name="SFTP" validateConnections="true" pollingFrequency="10000" fileAge="10000" doc:name="SFTP"/>
    <file:connector name="File" autoDelete="true" streaming="true" validateConnections="true" doc:name="File"/>
    <flow name="as_sftpFlow">
        <sftp:inbound-endpoint host="localdocker" port="22" responseTimeout="10000" doc:name="SFTP" connector-ref="SFTP" password="write_password_here" path="/home/docker/testMuleSoft" pollingFrequency="10000" user="docker"/>
        <logger message="{loggerUid=Logger-IN, messageFlow=as_sftp, inboundProperties=#[message.inboundProperties], outboundProperties=#[message.outboundProperties], payload=#[payload] }" level="INFO" doc:name="Logger-IN" doc:description="log input message

{loggerUid=Logger-IN, messageFlow=as_sftp, inboundProperties=#[message.inboundProperties], outboundProperties=#[message.outboundProperties], payload=#[payload] }

"/>
        <file:outbound-endpoint path="D:\vishnu\workspace\muleesb-welcome\data\deliver\" outputPattern="#[message.inboundProperties.originalFilename]" connector-ref="File" responseTimeout="10000" doc:name="File"/>
    </flow>
</mule>
