code2blog_https/src/main/app/global_elements.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
	xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf"
	xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo"
	xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
http://www.mulesoft.org/schema/mule/mongo http://www.mulesoft.org/schema/mule/mongo/current/mule-mongo.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTPs_Listener_Configuration"
		host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"
			doc:description="declared in global_elements_flow" protocol="HTTPS">
        <tls:context>
            <tls:key-store path="local_muleesb.jks" keyPassword="changeit" password="changeit"/>
        </tls:context>
		</http:listener-config>

    <http:request-config name="HTTP_Request_Configuration" host="localhost" port="8081" doc:name="HTTP Request Configuration"/>

   <configuration doc:name="Configuration"> 
	    <expression-language autoResolveVariables="true">
    	    <import class="org.mule.util.StringUtils" />
    	</expression-language>
	</configuration>

   <cxf:configuration name="CXF_Configuration" enableMuleSoapHeaders="true" initializeStaticBusInstance="true" doc:name="CXF Configuration"/>

	<flow name="global_elementsFlow">
		<http:listener config-ref="HTTPs_Listener_Configuration"
			path="/global_elements" doc:name="HTTPs" />
        <response>
            <logger message="{loggerUid=Logger-OUT, file=global_elements.xml, description='response sent out from flow', inboundProperties=#[message.inboundProperties], outboundProperties=#[message.outboundProperties], payload=#[payload] } " level="INFO" doc:name="Logger-OUT" doc:description="Logs output message sent to consumer 

{loggerUid=Logger-OUT, file=global_elements.xml, description='response sent out from flow',  inboundProperties=#[message.inboundProperties], outboundProperties=#[message.outboundProperties], payload=#[payload] } "/>
            <dw:transform-message doc:name="Transform Message">
                <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	headers: inboundProperties,
	payload: payload
}]]></dw:set-payload>
            </dw:transform-message>
        </response>

		<logger
			message="{loggerUid=Logger-IN, file=global_elements.xml, description='request received into flow', inboundProperties=#[message.inboundProperties], payload=#[payload] }"
			level="INFO" doc:name="Logger-IN"
			doc:description="Logs input message  

{loggerUid=Logger-IN, file=global_elements.xml, description='request received into flow', inboundProperties=#[message.inboundProperties], payload=#[payload] }
" />

	</flow>
</mule>
