code2blog_connectors/src/main/app/code2blog_connectors_choice.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <flow name="code2blog_connectors_choiceFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/code2blog_connectors_choice" doc:name="HTTP" allowedMethods="GET"/>
    		<logger
			message="{loggerUid=Logger-IN, file=code2blog_connectors_choice.xml, description='request received into flow', inboundProperties=#[message.inboundProperties], payload=#[payload], payloadAs=#[message.payloadAs(java.lang.String)] }"
			level="INFO" doc:name="Logger-IN"
			doc:description="Logs input message  

{loggerUid=Logger-IN, file=code2blog_connectors_choice.xml, description='request received into flow', inboundProperties=#[message.inboundProperties], payload=#[payload], payloadAs=#[message.payloadAs(java.lang.String)] }
" />
    
        <choice doc:name="Choice">
            <when expression="#[message.inboundProperties.'http.query.params'.country=='US']">
                <set-payload value="Washington, D.C." doc:name="Set Payload - US"/>
            </when>
            <when expression="#[message.inboundProperties.'http.query.params'.country=='RU']">
                <set-payload value="Moscow" doc:name="Set Payload - RU"/>
            </when>
            <otherwise>
                <set-payload value="New Delhi" doc:name="Set Payload - IN"/>
            </otherwise>
        </choice>
    </flow>
</mule>
