code2blog_connectors/src/main/app/code2blog_connectors_file.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
    <flow name="code2blog_connectors_fileFlow">
        <file:inbound-endpoint responseTimeout="10000" doc:name="File" connector-ref="File" moveToDirectory="C:\vishnu\workspace\data\mule-connectors-file\processed" moveToPattern="#[message.inboundProperties.originalFilename]-processed.txt" path="C:\vishnu\workspace\data\mule-connectors-file\in">
            <file:filename-regex-filter pattern=".*csv" caseSensitive="false"/>
        </file:inbound-endpoint>
        
        		<logger
			message="{loggerUid=Logger-IN, file=code2blog_connectors_file.xml, description='request received into flow', inboundProperties=#[message.inboundProperties], payload=#[payload], payloadAs=#[message.payloadAs(java.lang.String)] }"
			level="INFO" doc:name="Logger-IN"
			doc:description="Logs input message  

{loggerUid=Logger-IN, file=code2blog_connectors_file.xml, description='request received into flow', inboundProperties=#[message.inboundProperties], payload=#[payload], payloadAs=#[message.payloadAs(java.lang.String)] }
" />

        <file:outbound-endpoint path="C:\vishnu\workspace\data\mule-connectors-file\out" connector-ref="File" responseTimeout="10000" doc:name="File"/>    </flow>
</mule>
