code2blog_poll/src/main/app/code2blog_poll.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:schedulers="http://www.mulesoft.org/schema/mule/schedulers" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/schedulers http://www.mulesoft.org/schema/mule/schedulers/current/mule-schedulers.xsd">
    <flow name="code2blog_pollFlow">
        <poll doc:name="Poll - every 30 seconds" doc:description="cron did not accept this format [5 0 * 8 *] for [2020-08-01 00:05:00]
Reference https://crontab.guru/#5_0_*_8_*

So using polling at 30 second interval">
            <fixed-frequency-scheduler frequency="30" timeUnit="SECONDS"/>
            <component class="as.file_parse_to_db.FilePollingComponent" doc:name="Java - scan folder using FilePollingComponent.class"/>
        </poll>
        <logger message="loggerUid=Logger-01, messageFlow=as_file_parse_to_db, description='file list generated by java component is set in outboundProperties', outboundProperties=#[message.outboundProperties] }  " level="INFO" doc:name="Logger-01 message.outboundProperties.fileList" doc:description="loggerUid=Logger-01, messageFlow=as_file_parse_to_db, description='file list generated by java component is set in outboundProperties', outboundProperties=#[message.outboundProperties] }  "/>
    </flow>
</mule>
