code2blog_poll/src/main/app/global_elements.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo"
	xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/mongo http://www.mulesoft.org/schema/mule/mongo/current/mule-mongo.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_Configuration"
		host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"
		doc:description="declared in global_elements_flow
" />

    <http:request-config name="HTTP_Request_Configuration" host="localhost" port="8081" doc:name="HTTP Request Configuration"/>

   <configuration doc:name="Configuration"> 
	    <expression-language autoResolveVariables="true">
    	    <import class="org.mule.util.StringUtils" />
    	</expression-language>
	</configuration>


	<flow name="global_elementsFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="/global_elements" doc:name="HTTP" />
        <response>
            <logger message="{loggerUid=Logger-OUT, messageFlow=global_elements, inboundProperties=#[message.inboundProperties], outboundProperties=#[message.outboundProperties], payload=#[payload] } " level="INFO" doc:name="Logger-OUT" doc:description="Logs output message sent to consumer    {loggerUid=Logger-OUT, messageFlow=global_elements, inboundProperties=#[message.inboundProperties], outboundProperties=#[message.outboundProperties], payload=#[payload] } "/>
            <dw:transform-message doc:name="Transform Message">
                <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	headers: inboundProperties,
	payload: payload
}]]></dw:set-payload>
            </dw:transform-message>
        </response>
		<logger
			message="{loggerUid=Logger-IN, messageFlow=global_elements, inboundProperties=#[message.inboundProperties], payload=#[payload] }"
			level="INFO" doc:name="Logger-IN"
			doc:description="Logs input message  

{loggerUid=Logger-IN, messageFlow=global_elements, inboundProperties=#[message.inboundProperties], payload=#[payload] }
" />

	</flow>
</mule>
