code2blog_variables/src/main/app/code2blog_flow_variable_02.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <flow name="code2blog_flow_variable_02Flow">
        <logger message="{loggerUid=Logger-flow-02, file=code2blog_flow_variable_02.xml, description='logs flow variable set in first flow', flowVar01=#[flowVars.flowVar01] }" level="INFO" doc:name="Logger-flow-02" doc:description="Logs flow variable set in first flow

{loggerUid=Logger-flow-02, file=code2blog_flow_variable_02.xml, description='logs flow variable set in first flow', flowVar01=#[flowVars.flowVar01] }
"/>
        <expression-component doc:name="Expression"><![CDATA[flowVars.flowVar01 = flowVars.flowVar01 + ' Modified flow variable in second flow.']]></expression-component>
    </flow>
</mule>
