code2blog_variables/src/main/app/code2blog_session_variable_01.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <flow name="code2blog_session_variable_01Flow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/code2blog_session_variable_01" doc:name="HTTP"/>
        <set-variable variableName="flowVariable01" value="#[String.format('random value [%d] set in first flow for flowVariable01. ', new Random().nextInt())]" doc:name="Variable - Set"/>
        <response>
            <logger message="{loggerUid=Logger-flow-01, file=code2blog_session_variable_01.xml, description='logs variables that comes out of http transport barrier', payload=#[message.payloadAs(java.lang.String)] }" level="INFO" doc:name="Logger-flow-01" doc:description="Logs output of first flow

{loggerUid=Logger-flow-01, file=code2blog_session_variable_01.xml, description='logs variables that comes out of http transport barrier', payload=#[message.payloadAs(java.lang.String)] }

"/>
            <dw:transform-message doc:name="Transform Message">
                <dw:set-payload><![CDATA[%dw 1.0
%output application/json 
---
{
	variables: {
		flowVariable: flowVars.flowVariable01,	
		sessionVariable: sessionVars.sessionVariable01	
	}
}]]></dw:set-payload>
            </dw:transform-message>
        </response>
        <set-session-variable variableName="sessionVariable01" value="#[String.format('random value [%d] set in first flow for sessionVariable01. ', new Random().nextInt())]" doc:name="Session Variable - Set"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/code2blog_session_variable_02" method="GET" doc:name="HTTP - request"/>
    </flow>
</mule>
