code2blog_variables/src/main/app/code2blog_variables.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <flow name="code2blog_variablesFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/code2blog_variables" doc:name="HTTP"/>
        <set-variable variableName="flowVar01" value="#[String.format('random value [%d] set using expression', new Random().nextInt())]" doc:name="Variable"/>
        <response>
            <logger message="{loggerUid=Logger-OUT, file=code2blog_variables.xml, description='response message from flow', payload=#[message.payloadAs(java.lang.String)] }" level="INFO" doc:name="Logger-OUT" doc:description="Logs output message  

{loggerUid=Logger-OUT, file=code2blog_variables.xml, description='response message from flow', payload=#[message.payloadAs(java.lang.String)] }
"/>
        </response>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{	variables: {		flowVar: flowVars.flowVar01		}
}]]></dw:set-payload>
        </dw:transform-message>
    </flow>
</mule>
