code2blog_mule4_retry_errors/src/main/mule/9f33-flow-publish-to-retryQueue.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="9f33-flow-publish_to_retryQueue" doc:id="5fe79444-c46a-483a-8adc-f1a72462924b" >
		<http:listener doc:name="/retry-errors" doc:id="50ef8205-c477-4da0-8f45-9bdfc78ddce5" config-ref="9f33-HTTP_Listener_config" path="/retry-errors"/>
		<logger level="INFO" doc:name="LOG INFO [GET /retry-errors called]" doc:id="b01f7820-af7a-4534-b072-b06824e56705" message="GET /retry-errors called"/>
		<flow-ref doc:name="9f33-subflow-randomly-create-errors" doc:id="e732334d-1ac1-4fc7-bbd0-1eee29339687" name="9f33-subflow-randomly-create-errors"/>
		<ee:transform doc:name="to json" doc:id="c327a6c6-d572-405f-bff5-324f985d4f97" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: 'error not raised'
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="68f918f9-aa80-4f38-992e-b5b37142c54d" >
				<flow-ref doc:name="2f71-subflow-initialize-retry" doc:id="0b8ed912-c49b-405f-9a8b-f65d5a995701" name="2f71-subflow-initialize-retry"/>
				<flow-ref doc:name="2f71-subflow-error-handler-to-retry-errors" doc:id="aad4bf47-8112-46e2-b76c-58dba86eb568" name="2f71-subflow-error-handler-to-retry-errors"/>
				<ee:transform doc:name="set response" doc:id="52cdabf2-a7f9-4cb3-9b91-ae67ce8f9f2f" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: 'retrying',
	correlationId: payload.root.correlationId
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-continue>
		</error-handler>
	</flow>
</mule>
