code2blog_mule4_retry_errors/src/main/mule/flow-vm-retry-errors.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
	<flow name="flow-vm-retry-errors" doc:id="ec48dbd7-d670-4937-9349-5ee7304d533d" >
		<vm:listener doc:name="retry errors" doc:id="1892b9f5-0417-471f-8403-e196a78de20a" numberOfConsumers="1" queueName="${error-handling.vm.queuename}" config-ref="VM_Config_retry"/>
		<logger level="DEBUG" doc:name="LOG DEBUG payload" doc:id="5682026a-01db-4004-a9bb-8f7a12b2b7f2" message="#[payload]" />
		<set-variable value="#[%dw 2.0
output application/dw
---
(payload.root.retryCount as Number) default 1234]" doc:name="retryCount" doc:id="a117a0bc-59a3-4bd0-b098-117b5b255843" variableName="retryCount"/>
		<set-variable value="#[%dw 2.0
output application/dw
---
(payload.root.correlationId as String) default 'notPopulated']" doc:name="correlationId" doc:id="ed4425a5-b7ae-48a7-8de9-23167e2cc2cd" variableName="correlationId"/>
		<set-variable value="${error-handling.retry.threshold}" doc:name="retryThreshold" doc:id="4d250f06-5b38-4650-89b4-1d5af68f9619" variableName="retryThreshold"/>
		<logger level="INFO" doc:name="LOG INFO [retry check]" doc:id="0b4cde3b-f03d-48d6-b5ae-ccb89f86f8d9" message="#[%dw 2.0
output text/plain
---
'will check if message is eligible for retry with retryCount=' ++ (vars.retryCount as String) ++ ' and correlationId=' ++ (vars.correlationId as String)]"/>
		<choice doc:name="Choice" doc:id="01209d79-1c55-46da-8c8b-50509f7ead18" >
			<when expression="#[vars.retryCount &lt; (vars.retryThreshold as Number)]">
				<set-payload value='#[%dw 2.0
import * from dw::util::Values
output application/dw
---
payload update ["root","retryCount"] with (vars.retryCount + 1)]' doc:name="set retryCount+1 in payload" doc:id="218b1b7f-0179-4b39-bfd9-c7b1b32fdcc4" />
				<flow-ref doc:name="source flow" doc:id="1ed8c451-2900-4d2d-9cf7-823b3eebabf2" name="${error-handling.source.flow}"/>
			</when>
			<otherwise>
				<logger level="ERROR" doc:name="LOG ERROR retry exhausted" doc:id="8ef58c3e-cc54-4f70-a62f-b9a437b8dcb6" message="#[%dw 2.0
output text/plain
---
'retry exhausted for message with correlationId=' ++ (vars.correlationId as String)]"/>
			</otherwise>
		</choice>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="45825c3b-c143-47ad-ac80-3f3ff0dc4cc1" >
				<flow-ref doc:name="subflow-error-handler-for-error-type-any" doc:id="4f85c36a-dcd8-4962-90df-063ab213ef34" name="subflow-error-handler-for-error-type-any"/>
			</on-error-continue>
		</error-handler>
	</flow>
</mule>
