code2blog_dataweave/src/main/app/code2blog_dataweave.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <flow name="code2blog_dataweaveFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/code2blog_dataweave" doc:name="HTTP"/>
        <dw:transform-message metadata:id="3c975c3a-8abf-4bc3-a696-8504cc9cd5a3" doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 2.0
%output application/json skipNullOn="everywhere"
---
{
	book: payload.bookstore.*book map ( (vItem, vIndex) -> (
		vItem - "price"
	)) 

} ]]></dw:set-payload>
        </dw:transform-message>
    </flow>
</mule>
