code2blog_first_successful_connector/src/main/app/code2blog_first_successful_connector.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <flow name="code2blog_first_successful_connectorFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/code2blog_first_successful_connector" doc:name="HTTP"/>
        <logger message="{loggerUid=Logger-IN, file=code2blog_first_successful_connector.xml, description='request received into flow', inboundProperties=#[message.inboundProperties], payload=#[payload] }" level="INFO" doc:name="Logger-IN" doc:description="Logs input message  

{loggerUid=Logger-IN, file=global_elements.xml, description='request received into flow', inboundProperties=#[message.inboundProperties], payload=#[payload] }
"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	headers: inboundProperties,
	payload: payload
}]]></dw:set-payload>
        </dw:transform-message>
        <logger message="{loggerUid=Logger-OUT, file=code2blog_first_successful_connector.xml, description='response sent out from flow', inboundProperties=#[message.inboundProperties], outboundProperties=#[message.outboundProperties], payload=#[payload] } " level="INFO" doc:name="Logger-OUT" doc:description="Logs output message sent to consumer 

{loggerUid=Logger-OUT, file=global_elements.xml, description='response sent out from flow',  inboundProperties=#[message.inboundProperties], outboundProperties=#[message.outboundProperties], payload=#[payload] } "/>
    </flow>
</mule>
